body {
	background-color: #0E2A36;
}

#main-wrapper {
	margin-right: auto;
	margin-left: auto;
  	width: 700px;
  	transform: translateY(-5%);
}

#profile-picture-wrapper {
	display: block;
	transform: translateY(50%);
	text-align: center;
}

#content-wrapper{
	height: auto;
	width: 100%;
	border-radius: 10px;
	background-color:#FFFFFF;
	padding: 15px;
	padding-bottom: 50px;
	text-align: center;
}

#user-info{
	padding-top: 70px;
}

#name-wrapper{
	font-weight: bold;
  	font-size: 32px;
}

#email-wrapper{
	font-weight: bold;
  	font-size: 14px;
  	color: #B3B3B3;
}

#studies-wrapper {
	display: inline-block;
	float:left;
	margin-left: 60px;
	font-weight: bold;
  	font-size: 14px;
}

#city-wrapper{
	display: inline-block;
	float:left;
	margin-left: 85px;
	font-weight: bold;
  	font-size: 14px;
}

#birthdate-wrapper{
	display: inline-block;
	float:left;
	margin-left: 50px;
	font-weight: bold;
  	font-size: 14px;
}

#gender-wrapper{
	display: inline-block;
	float:left;
	margin-left: 62px;
	font-weight: bold;
  	font-size: 14px;
}

#phone-wrapper{
	display: inline-block;
	float:left;
	margin-left: 10px;
	font-weight: bold;
  	font-size: 14px;
}

#vcs-wrapper{
	display: inline-block;
	float:left;
	margin-left: 5px;
	font-weight: bold;
  	font-size: 14px;
}

.text-wrapper{
	display: inline-block;
	float: left;
	font-size: 14px;
	font-weight: bold;
	margin-left: 20px;
}

#git-link-wrapper{
	text-decoration: underline;
	display: inline-block;
	float:left;
	margin-left: 95px;
  	font-size: 14px;
}

.edit-button{
	width: 16px;
	height: 16px;
	opacity: 0.9;
	content: url("edit-pen.png");
	display: block;
	float:right;
	cursor: pointer;
}

#my-file{
	display: none;
}

#edit-link{
	display: none;
	opacity: 0.9;
	width: 60px;
	background-color: #f9f9f9;
	cursor: pointer;
	margin-left: 55%;
	transform: translate(-25%,-100%);
	border-radius: 15px 0px 5px 0px;
}

hr{
	color:#0E2A36;
	border-color:#0E2A36;
	background-color:#0E2A36;
	width:70%;
}



.custom_btn {
  background: #5db5f0;
  background-image: -webkit-linear-gradient(top, #5db5f0, #4aa6e0);
  background-image: -moz-linear-gradient(top, #5db5f0, #4aa6e0);
  background-image: -ms-linear-gradient(top, #5db5f0, #4aa6e0);
  background-image: -o-linear-gradient(top, #5db5f0, #4aa6e0);
  background-image: linear-gradient(to bottom, #5db5f0, #4aa6e0);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  padding: 5px;
  width: 50px;
  text-decoration: none;
  float: right;
  margin-left: 10px;
}

.custom_btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#group_1, #group_2, #group_3, #group_4{
	display: none;
}

input[type=text],
input[type=text]:hover,
input[type=text]:focus,
input[type=text]:active
{
	//display: none;
	text-align: center;
	text-decoration: underline;
	border: 0;
	width: 400px;
    outline: none;
    outline-offset: 0;
}

#edit_name{
	display: none;
	font-weight: bold;
  	font-size: 32px;
}

#edit_email{
	display: none;
	font-weight: bold;
  	font-size: 14px;
  	color: #B3B3B3;
}

#edit_studies {
	display: none;
	transform: translateX(-45px);
	font-weight: bold;
  	font-size: 14px;
}

#edit_city{
	display: none;
	transform: translateX(-22px);
	text-align: left;
	font-weight: bold;
  	font-size: 14px;
}

#gender_dropdown{
	display:none;
	float:left;
	width: 120px;
	height: 20px;
	padding: 0px;
	margin-left: 60px;
	font-weight: bold;
  	font-size: 14px;
}

#birthdate_picker{
	display: none;
	float:left;
	transform: translateX(48px);
}	

input[type=date],
input[type=date]:hover,
input[type=date]:focus,
input[type=date]:active{
	border: 0;
	height: 20px;
	outline: none;
	font-weight: bold;
  	font-size: 14px;
}

#edit_phone{
	display: none;
	text-align: left;
	float:left;
	transform: translateX(10px);
	font-weight: bold;
  	font-size: 14px;
}

#edit_git_link{
	display: none;
	text-decoration: underline;
	float:left;
	text-align: left;
	margin-left: 95px;
  	font-size: 14px;
  	padding: 0;
}
footer{
	text-align: center;
	padding-bottom: 10px;
}
